@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: url(images/sukuna-jujutsu-kaisen-uhdpaper.com-4K-7.3220.jpg);
    background-size: cover;
    background-position: center;
    
}





#logoimg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 30px;
    
    position: relative;

}

.container {
    padding: 10px 10%;
}

nav {
    top : 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    top : 20px;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-family: 'Kenia' , sans-serif !important;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.25s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 2vw;
    font-family: 'Teko';

}

.header-text h1 {
    font-size: 3vw;
    margin-top: 5px;
}

.header-text h1 span{
    color: #ff2c2c;
}

/* ---------------PROJECTS PAGE------------------ */

.project-containers {
    
    width: 200px;
    height: 200px;
    position: relative;
    
    justify-content: center;
    display: flex;
    
    margin: 15px;
    padding: 65px;
    text-align: center;
    
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.22);

}

#bodycon {
    
    border: 20px;
    border-color: #080800;
    margin-top: 60px;
    max-width: 700px;
    height: 400px;
    top: 130px;
    display: inline-block;

    
}


#p3{
    padding: 20px !important;
}
#p3 h1{
   padding: 50px 0px;
}

.project-containers:hover{
    opacity: 0.7;
}

.bf {
    display: flex;
    position : absolute;
}
.af {
    display: flex;
    position : absolute;
    justify-content: center;
}
    

#p1:hover .bf{
    opacity : 0%;
}